@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 14px;
    margin-top: 81px;
    width: 342px;
    height: 213px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 15px;
    margin-top: 21px;
    width: 229px;
    height: 159px
  }
  .style1,
  .style2 {
    display: flex;
    flex-direction: column
  }
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    align-self: stretch;
    margin-left: 0;
    width: 159px;
    height: 100%
  }
  .style2 {
    margin-left: 18px;
    margin-top: 10px;
    width: 75px;
    height: 79px
  }
  .style2,
  .style3,
  .style5 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style5 {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: 11px;
    margin-top: 8px;
    width: 29px;
    height: 29px
  }
  .style3 {
    margin-left: 38px;
    margin-top: 3px;
    width: 32px;
    height: 33px
  }
  .iphone6781container0row0container1row1 {
    display: flex;
    margin-left: 16px;
    margin-top: 7px;
    width: 136px;
    height: 49px;
    align-items: center
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    width: 47px;
    height: 29px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    width: 16px;
    height: 11px
  }
  .style10,
  .style4,
  .style7,
  .style8,
  .style9 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style4 {
    display: flex;
    margin-left: 38px;
    flex-direction: column;
    width: 51px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    margin-top: 5px;
    width: 12px;
    height: 11px
  }
  .style10,
  .style9 {
    margin-left: 4px;
    margin-top: 16px;
    width: 19px;
    height: 70px
  }
  .style9 {
    margin-left: 5px;
    margin-top: 7px;
    width: 42px;
    height: 94px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 29px;
    margin-top: 166px;
    width: 700px;
    height: 436px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 31px;
    margin-top: 43px;
    width: 469px;
    height: 326px
  }
  .style1,
  .style2 {
    display: flex;
    flex-direction: column
  }
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    align-self: stretch;
    margin-left: 0;
    width: 326px;
    height: 100%
  }
  .style2 {
    margin-left: 37px;
    margin-top: 20px;
    width: 154px;
    height: 162px
  }
  .style2,
  .style3,
  .style5 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style5 {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: 23px;
    margin-top: 16px;
    width: 59px;
    height: 59px
  }
  .style3 {
    margin-left: 78px;
    margin-top: 6px;
    width: 66px;
    height: 68px
  }
  .iphone6781container0row0container1row1 {
    display: flex;
    margin-left: 33px;
    margin-top: 14px;
    width: 279px;
    height: 100px;
    align-items: center
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    width: 96px;
    height: 59px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    width: 33px;
    height: 23px
  }
  .style10,
  .style4,
  .style7,
  .style8,
  .style9 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style4 {
    display: flex;
    margin-left: 78px;
    flex-direction: column;
    width: 104px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    margin-top: 10px;
    width: 25px;
    height: 23px
  }
  .style10,
  .style9 {
    margin-left: 8px;
    margin-top: 33px;
    width: 39px;
    height: 143px
  }
  .style9 {
    margin-left: 10px;
    margin-top: 14px;
    width: 86px;
    height: 193px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 34px;
    margin-top: 199px;
    width: 839px;
    height: 523px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 37px;
    margin-top: 52px;
    width: 562px;
    height: 390px
  }
  .style1,
  .style2 {
    display: flex;
    flex-direction: column
  }
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    align-self: stretch;
    margin-left: 0;
    width: 390px;
    height: 100%
  }
  .style2 {
    margin-left: 44px;
    margin-top: 25px;
    width: 184px;
    height: 194px
  }
  .style2,
  .style3,
  .style5 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style5 {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: 27px;
    margin-top: 20px;
    width: 71px;
    height: 71px
  }
  .style3 {
    margin-left: 93px;
    margin-top: 7px;
    width: 79px;
    height: 81px
  }
  .iphone6781container0row0container1row1 {
    display: flex;
    margin-left: 39px;
    margin-top: 17px;
    width: 334px;
    height: 120px;
    align-items: center
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    width: 115px;
    height: 71px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    width: 39px;
    height: 27px
  }
  .style10,
  .style4,
  .style7,
  .style8,
  .style9 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style4 {
    display: flex;
    margin-left: 93px;
    flex-direction: column;
    width: 125px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    margin-top: 12px;
    width: 29px;
    height: 27px
  }
  .style10,
  .style9 {
    margin-left: 10px;
    margin-top: 39px;
    width: 47px;
    height: 172px
  }
  .style9 {
    margin-left: 12px;
    margin-top: 17px;
    width: 103px;
    height: 231px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 45px;
    margin-top: 259px;
    width: 1094px;
    height: 682px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 48px;
    margin-top: 67px;
    width: 733px;
    height: 509px
  }
  .style1,
  .style2 {
    display: flex;
    flex-direction: column
  }
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    align-self: stretch;
    margin-left: 0;
    width: 509px;
    height: 100%
  }
  .style2 {
    margin-left: 58px;
    margin-top: 32px;
    width: 240px;
    height: 253px
  }
  .style2,
  .style3,
  .style5 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style5 {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: 35px;
    margin-top: 26px;
    width: 93px;
    height: 93px
  }
  .style3 {
    margin-left: 122px;
    margin-top: 10px;
    width: 102px;
    height: 106px
  }
  .iphone6781container0row0container1row1 {
    display: flex;
    margin-left: 51px;
    margin-top: 22px;
    width: 435px;
    height: 157px;
    align-items: center
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    width: 150px;
    height: 93px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    width: 51px;
    height: 35px
  }
  .style10,
  .style4,
  .style7,
  .style8,
  .style9 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style4 {
    display: flex;
    margin-left: 122px;
    flex-direction: column;
    width: 163px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    margin-top: 16px;
    width: 38px;
    height: 35px
  }
  .style10,
  .style9 {
    margin-left: 13px;
    margin-top: 51px;
    width: 61px;
    height: 224px
  }
  .style9 {
    margin-left: 16px;
    margin-top: 22px;
    width: 134px;
    height: 301px
  }
}